
<h1 class="m-3">Stupid Coaching</h1>
<div class="m-3">
  <p> - You: <%= params[:ask] %></p>
</div>
<div class="m-3">
  <p> - Your coach: <%= @answer %></p>
</div>
<div class="m-3">
  <p><%= link_to "Ask another question", ask_path %></p>
</div>
