<h1 class="m-3">Stupid Coaching</h1>
<p class="m-3">Ask your coach anything</p>
<form class="ms-2" action="answer" data-turbo="false">
  <input class="col-4 ms-2 me-0 p-2 border-1 rounded-start border-opacity-25" type="text" name="ask">
  <input class="ms-0 px-3 border-primary border-1 p-2 rounded-end border-opacity-25 text-white bg-primary" type="submit" value="Ask">
</form>
